vendor_boot.img
odm/etc/camera/model/license.lic
odm/etc/camera/license_release_fdc.lic
odm/lib64/libCipParameter0.so
odm/lib64/libCipParameter2.so
odm/lib64/libCipParameter3.so
boot.img
recovery.img
my_product/etc/aisubsystem/OAA/oaa-oaa_nlp_text_embedding_overseas_sm8550-19927171-3005-pall-rall
my_product/app/YouTube/YouTube.apk
my_product/app/TrichromeLibrary64/TrichromeLibrary64.apk
my_product/app/Photos/Photos.apk
my_product/app/Gmail2/Gmail2.apk
my_product/app/OplusCamera/OplusCamera.apk
my_product/app/Maps/Maps.apk
my_product/priv-app/GmsCore/GmsCore.apk
my_product/priv-app/GoogleVelvet_CTS/GoogleVelvet_CTS.apk
my_product/priv-app/Messages/Messages.apk
my_product/del-app-pre/GoogleHome/GoogleHome.apk
my_stock/app/Browser/Browser.apk
my_stock/priv-app/StdSP/StdSP.apk
my_stock/priv-app/KeKeThemeSpace/KeKeThemeSpace.apk
my_stock/priv-app/OppoGallery2/OppoGallery2.apk
my_stock/priv-app/OplusGames/OplusGames.apk
my_stock/opex/Omoji.opex
my_stock/del-app/OppoNote2/OppoNote2.apk
system_ext/priv-app/Settings/Settings.apk
system_ext/priv-app/SystemUI/SystemUI.apk
vendor_boot/dtb/05_dtbdump_Qualcomm_Technologies,_Inc._KalamaP_SoC.dtb
