service oplusHmbirdBpfManager /system_ext/bin/oplusHmbirdBpfManager
    capabilities CHOWN SYS_ADMIN NET_ADMIN SETGID SETUID
    user root
    group root system readproc
    socket HmbirdBpfManager seqpacket+passcred 0660 system system u:object_r:opluscvt_socket:s0
    disabled

on boot
    setprop sys.oplus.hmbird.manager.enable 1

on property:sys.boot_completed=1 && property:ro.kernel.version=6.12 && property:sys.oplus.hmbird.manager.enable=1
    start oplusHmbirdBpfManager

on property:sys.oplus.hmbird.manager.enable=0
    stop oplusHmbirdBpfManager
